<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/files/css/style.css" >
	</head>
	<body>
		<center>
			<h1>Future Camp Vision</h1>
			<table>
				<tr><th colspan="2">Система</th></tr>
				<tr><td><center>CPU temp</center></td><td><center><%PARAM%>°C</center></td></tr>
				<tr><td><center>RAM used</center></td><td><center><%PARAM%>mb</center></td></tr>
				<tr><td><center>Disk space</center></td><td><center><%PARAM%></center></td></tr>
				<tr><td><center>Uptime</center></td><td><center><%PARAM%></center></td></tr>
			</table>
			<br>
			<table>
				<tr><th colspan="2">Камеры</th></tr>
				<tr><td><center>Количество</center></td><td><center><%PARAM%></center></td></tr>
			</table>
			<br>
			<a href="/photo" class="button13">Смотреть</a>
			<a href="/sys?cmd=reboot" class="button13">Перезагрузка</a>
			<a href="/sys?cmd=poweroff" class="button13">Выключение</a>
			<br>
			<br>
			<a>Denisov Foundation Ltd. © 2018</a>
		</center>
	</body>
</html>
